# Dependencies
node_modules/

# Service worker
frontend/dev-dist/

# OS files
.DS_Store

# IDE
.vscode/
*.code-workspace

# Build output
dist/

# Environment
.env

# Logs
*.log

# PlatformIO
.pio/
compile_commands.json